# shellcheck shell=bash

# .envrc file of direnv.
# If you use vsode, pleaes use the `direnv` extension.

# Use nix-direnv
# https://github.com/nix-community/nix-direnv
# Ensures that flake.nix gets evaluated.
use flake

# DO NOT ADD CREDENTIALS INTO this .envrc FILE!
# Use .env if you need to, then use that:
#dotenv
